//MAIN
*{
    box-sizing: border-box;
    list-style: none;
    font-family: 'GL Venuri', sans-serif;
    &::selection{
        background: $main_color;
        color: #fff;
    }
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
    color: #5a5a5a;
    transition: .15s ease;
    &:hover{
        color: #000;
    }
    &:active{
        color: $main_color;
    }
}
.bg-color{
    background: $bg_color;
}
.main-color{
    color: $main_color;
}
.bg-main{
    background: $main-color;
}
//SCROLLBAR
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2px 0;
}
::-webkit-scrollbar-thumb{
    background: $main_color;
    border-radius: 10px;
    &:hover{
        background: gray;
    }
}

//HR-CATEGORY
.hr-category{
    position: relative;
    a{
        background: $main-color;
        padding: .2rem 2rem;
        color: #fff;
        font-weight: 500;
        margin: 0;
        &:hover{
            color: #fff;
        }
        &::after{
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            left:0;
            bottom:0;
            background: $main-color;
        }
    }
}
.hr-category__text{
    background: $main-color;
    padding: .2rem 2rem;
    color: #fff;
    font-weight: 500;
    &:hover{
        color: #fff;
    }
    &::after{
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        left:0;
        bottom:0;
        background: $main-color;
    }
}
//load_more
.see-more{
    cursor: pointer;
    color: #fff !important;
    transition: .2s ease;
    &:hover{
        color : #fff;
        background: #cc4f33;
    }
}

//GO-TOP
.go-top{
    opacity: 0;
    position: fixed;
    right:0;
    top: 50%;
    font-size: 2vw;
    transition: .4s ease;
    padding: 1vw .2vw 1vw 1vw;
    border-bottom-left-radius: 10vw;
    border-top-left-radius: 10vw;
}
//404
.container-404{
    i{
        font-size: 8.2rem;
        color : $main_color;
        align-self: center;
    }
}
.text-404{
    font-size: 8rem;
}
.description-404{
    font-weight: bold;
    font-size: .8rem;
    color: $main_color;
    margin: 0;
    padding: .5rem 0;
}
//PAGINATION
.page-numbers{
    width: 1.8rem;
    height:1.8rem;
    margin-right: .1rem;
    border-radius: 5px;
    font-weight: bold;
    @include flex(row, center, center);
    border: 1px solid $main-color;
    background: #fff;
    cursor:pointer;
    &:hover{
        background: $main-color;
        color: #fff;
    }
}
.pagination>.prev, .pagination>.next{
    border: none;
    color: $main-color;
    transition: .3s ease;
    font-size: 1.2rem;
    &:hover{
        background: none;
        color: gray;
    }
}
.current{
    background: $main-color;
    color: #fff;
}