.form__btn{
    background : $main_color;
    color : #fff;
    transition : .5s ease;
    &:hover{
        color : #fff;
        background : rgb(206, 77, 49);
    }
}

.form-introduce__container-title{
    text-align : center;
    color : $main_color;
}
