@mixin flex ($direction, $justify, $align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@font-face{
    font-family: GL Venuri;
    src: url(../../fonts/gl-lortkipanidze-bold.ttf);
}

$bg_color : #ECECEC;
$main_color : #FD603E;