@import "patrials/_variables.scss";
@import "patrials/config";
@import "patrials/_header.scss";
@import "patrials/article";
@import "patrials/post";
@import "patrials/_sidebar.scss";
@import "patrials/_footer.scss";
@import "patrials/_widgets.scss";
@import "patrials/_form.scss";

@media screen and (max-width:1200px){
    .nav-link{
        &::after{
            width: 0 !important; //for navigation wrapping without absolute possition errors
        }
    }
}

@media screen and (max-width:991px){
    .topnav__ul{
        @include flex(column, center, flex-start);
        margin-top: .5rem;
    }
    .topnews__img{
        max-height: 20rem;
    }
}

@media screen and (max-width: 767px){
    .article-news__img{
        height: 15rem;
    }
    .post__title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:575px){
    .slider__img{
        height: 17rem;
    }
    .go-top{
        display: none;
    }
    .footer-img{
        width: 3rem !important;
        height: 3rem !important;
    }
}

@media screen and (max-width:425px){
    .slider__img{
        height: 14rem;
    }
    .post__title{
        font-size: 1rem;
    }
}

@media screen and (max-width:375px){
    body{
        font-size: 12px !important;
    }
}